{% extends "dashboard.html" %}
{% block content %}
<div class="container-fluid p-4">
  <form method="POST">
    <div class="row p-2">
      <div class="col">
        {{ form.stm_oorz_code.label }}
        {{ form.stm_oorz_code(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_contractgeb_mld.label }}
        {{ form.stm_contractgeb_mld(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_techn_mld.label }}
        {{ form.stm_techn_mld(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_prioriteit.label }}
        {{ form.stm_prioriteit(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
    </div>
      <div class="row p-2">
      <div class="col">
        <button type="submit" class="btn btn-danger w-100" style="background:#b71a20; border-color:#8f1a20;">Verstuur</button>
      </div>
    </div>
  </form>
  {% if data %}
    <div class="row px-2 py-4">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              {% for column in data[0].keys() %}
                <th>{{ column }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
              <tr id="row{{ loop.index }}">
                {% for cell in row.values() %}
                  <td>{{ cell }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}