{% extends "dashboard.html" %}
{% block content %}
<div class="container-fluid p-4">
  <form method="POST">
    <div class="row p-2">
      <div class="col">
        {{ form.stm_sap_melddatum.label }}
        {{ form.stm_sap_melddatum(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_sap_meldtijd.label }}
        {{ form.stm_sap_meldtijd(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_aanntpl_tijd.label }}
        {{ form.stm_aanntpl_tijd(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_progfh_in_duur.label }}
        {{ form.stm_progfh_in_duur(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
    </div>
    <div class="row p-2">
      <div class="col">
        {{ form.stm_prioriteit.label }}
        {{ form.stm_prioriteit(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_oorz_code.label }}
        {{ form.stm_oorz_code(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_contractgeb_mld.label }}
        {{ form.stm_contractgeb_mld(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
      <div class="col">
        {{ form.stm_techn_mld_encoded.label }}
        {{ form.stm_techn_mld_encoded(class="form-control bg-body-tertiary border border-body-subtle")}}
      </div>
    </div>
    <div class="row p-2">
      <div class="col">
        <button type="submit" class="btn btn-danger w-100" style="background:#b71a20; border-color:#8f1a20;">Verstuur</button>
      </div>
    </div>
  </form>
  {% if linearregression %}
    <div class="row px-2 py-4 text-center">
      <div class="col">
        <h1>Linear Regression:</h1>
        <h4>Hersteltijd: {{ linearregression }} minuten</h4>
      </div>
      <div class="col">
        <h1>Random Forest:</h1>
        <h4>Hersteltijd: {{ randomforest }} tot {{ randomforest + 15 }} minuten</h4>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
