{% extends "dashboard.html" %}
{% block content %}
<div class="container-fluid p-4">
  <form method="POST">
    <div class="row p-2">

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-danger w-100">Reset</button>
      </div>

    </div>
    <div class="row p-2">

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <select class="form-select" aria-label="select">
          <option selected disabled>Locatie</option>
          <option value="1">Value</option>
        </select>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-success w-100">Verstuur</button>
      </div>

    </div>
    <div class="row p-2">

      <div class="col">

      </div>

    </div>
  </form>
</div>
{% endblock %}